*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container1{
    background-color: #1F2937;
    height: 500px;
}

h6{

    font-size: 24px;
    color: #F9FAF8;

}

.header{
    padding-left: 100px;
}



ul{
    color: #F9FAF8;
    list-style: none;
    display: flex;
    
}

.flex-container{
    display: flex;
    justify-content: center;
    
}

.flex-container1{
    display: flex;
    justify-content: center;
    
}

.list{
    margin-left: 1100px;
}

li{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.awesome{
    font-size: 48px;
    color: #F9FAF8;
    
}

.image-holder{
    margin-top: 100px;
    background-color: grey;
    width: 300px;
    margin-left: 60px;
    text-align: center;
    line-height: 180px
    ;
}

.bold-text{
    margin-top: 100px;
}

span{
    display: block;
}

.ran-text{
    font-size: 18px;
    color: #E5E7EB;
}

.button1{
    background-color: #3882F6;
    height: 40px;
    width: 80px;
    border-radius: 8px;
    color: #F9FAF8;

}

